# Datos reales / institucionales
data/raw/
data/clean/*.xlsx
data/clean/*.xls
data/clean/*.csv

# Permitimos solo muestras públicas
!data/sample/
!data/sample/*

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Entornos
venv/
.env

# Archivos temporales
~$*
.DS_Store
Thumbs.db
