# ================================
# DATOS INSTITUCIONALES PRIVADOS
# ================================
data/raw/
data/clean/
data/database/
*.db
*.sqlite
*.sqlite3

# permitir solo sample publico
!data/sample/
!data/sample/publicaciones_inta_sample.csv

# ================================
# PYTHON
# ================================
__pycache__/
*.pyc

# ================================
# JUPYTER
# ================================
.ipynb_checkpoints/

# ================================
# ENTORNOS
# ================================
venv/
.env/

# ================================
# SISTEMA
# ================================
.DS_Store
Thumbs.db

# ================================
# TEMPORALES
# ================================
*.log
~$*