# ================================
# DATOS INSTITUCIONALES PRIVADOS
# ================================
data/raw/
data/clean/

# permitir solo dataset sample
!data/sample/
!data/sample/publicaciones_inta_sample.csv

# ================================
# PYTHON
# ================================
__pycache__/
*.pyc
.ipynb_checkpoints/

# ================================
# ENTORNOS
# ================================
venv/
.env

# ================================
# TEMPORALES
# ================================
~$*
.DS_Store
Thumbs.db
